{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Admin panel</a>
                    </div>
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a href="{{ path('ad_create') }}" class="btn btn-success">Create new etry</a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ad in ads %}
                            <tr>
                                <td>{{ ad.id }}</td>
                                <td>{{ ad.title }}</td>
                                <td>{{ ad.description }}</td>
                                <td align="center" valign="top">
                                    {% if ad.image %}
                                        <img src="{{ asset('upload/' ~ ad.id ~'/' ~ ad.image)}}" alt="" height="100" width="150" />
                                    {% endif %}
                                    {% if ad.secondaryImage %}
                                        <img src="{{ asset('upload/' ~ ad.id ~'/' ~ ad.secondaryImage)}}" alt="" height="100" width="150" />
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('ad_update', {'id': ad.id}) }}" class="btn btn-primary">Edit</a>
                                    <a href="{{ path('ad_remove', {'id': ad.id}) }}" class="btn">Remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% endblock %}