{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Test page</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('ad_index') }}">Admin panel</a></li>
                    </ul>
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% for ad in ads %}
                    <div class="col-md-4">
                        <h1>{{ ad.title }}</h1>
                        <p>{{ ad.description }}</p>
                        {% if ad.image %}
                            <a href="#" class="thumbnail">
                                <img src="{{ asset('upload/' ~ ad.id ~'/' ~ ad.image)}}" alt="" height="100" width="150" />
                            </a>
                        {% else %}
                            <a href="#" class="thumbnail">
                                <img src="http://www.clker.com/cliparts/d/L/P/X/z/i/no-image-icon-md.png" alt="" height="100" width="150" />
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% endblock %}